body {
    background-color: #F0F0F0;
}
.header-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-logo {
    flex-grow: 0;
}
.header-title {
    flex-grow: 1;
}
.nav-items {
    flex-grow: 20;
}
.nav-items a {
    margin: 0 0.5em;
    text-decoration: none;
}
.header-title {
    float: left;
}
.header-box p{
    border: 1px solid;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photos {
    display: flex;
    flex-wrap: wrap;
}
.photo-box {
    display:flex;
    flex-direction:row;
}