@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body {
    background-color: #F0F0F0;
    font-family: 'Abel', sans-serif;
}
.main-title {
    font-family: 'Anton', sans-serif;
}
.nav-items a {
    margin: 0 0.5em;
    color: #4b4949;
}
a {
    text-decoration: none;
}
.header-box p {
    color: white;
    border: 0.5em solid white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-family: 'Anton', sans-serif;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-box p:nth-child(1) {
    background-color: #E6563B;
}
.header-box p:nth-child(2) {
    background-color: #EB9D3A;
}
.header-box p:nth-child(3) {
    background-color: #7CB06C;
}
.header-box p:nth-child(4) {
    background-color: #00ABA9;
}
.photo-box {
    margin: 1em;
    width: 40%;
}
.icon p {
    height: 18px;
    width: 18px;
    color: black;
    font-family: 'Anton', sans-serif;
    border-radius: 100%;
    display: flex;
    margin: 0 2px;
    justify-content: center;
    align-items: center;
}
.icon p:nth-child(1){
    background-color: #E6563B;
}
.icon p:nth-child(2){
    background-color: #EB9D3A;
}
.icon p:nth-child(3){
    background-color: #7CB06C;
}
.icon p:nth-child(4){
    background-color: #00ABA9;
}
.photo-box img {
    width: 100%;
    height: auto;
}
.last-item {
    margin:2em;
}
.items {
    font-family: 'Anton', sans-serif;;
}
.photo-title {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: baseline;
}
/*this is small screen size*/
@media only screen and (max-width: 576px) {
    hr {
        display: none;
    }
}
/*this is medium screen size*/
@media only screen and (max-width: 767px){
    .section-2 {
        display: none;
    }
    .photo-box {
        width: 100%;
    }
    .mx-3 {
        display:none;
    }
}
/*this is Large screen size*/
@media only screen and (max-width: 992px) {
    .section-2 {
        display: none;
    }
}
